:root{

}

/* ============ RESET ================= */
*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img{
  max-width: 100%;
}

/* =============== UTILITY ================ */
.main{
  width: 100%;
  overflow: hidden;
}

.flex{
  display: flex;
  gap: 1em;
}

.center{
  align-items: center;
}

.container{
  max-width: 90%;
  margin-inline: auto;
}

.bold{
  font-weight: 600;
}

.btn{
  border: none;
  outline: none;
  background-color: purple;
  padding: .5em 1em;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
}
/* =============== HEADER ================ */
.header{
  width: 100%;
  height: 70px;
}

.header_container{
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.logo{
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', Poppins, cursive;
}

.navigation{
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 222;
}

.socials_container > *{
  /* display: none; */
  font-size: 1.2rem;
}

.nav_list{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav_link{
  font-weight: bold;
}

@media screen and (min-width: 560px){
  .container{
    max-width: 80%;
  }

  .navigation{
    /* background-color: red; */
    position: initial;
    bottom: initial;
    right: 135px;
    width: initial;
    height: initial;
  }

  .socials_container{
    width: 135px;
    justify-content: space-around;
  }
}
/* =============== UTILITY ================ */
.showcase{
  width: 100%;
  /* margin-bottom: 1em; */
  border-bottom: 1px solid rgb(207, 205, 205);
}

.main_container{
  margin-bottom: 4em;
}

.main_filter{
  padding: 1em 0 .5em;
}

.showcase_image{
  width: 100%;
  height: 200px;
  border-radius: 1em;
  overflow: hidden;
  margin: 1em 0;
}

.showcase_detail{
  justify-content: space-between;
  padding: .5em 0;
}

.main_content_container{
  flex-direction: column;
}

.article{
  position: relative;
  margin-top: 1em;
  height: 150px;
  padding: 1em .5em;
  border-radius: 1em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.069);
  /* background-color: beige; */
  display: flex;
  justify-content: space-between;
  gap: 1em;
  overflow: hidden;
}

.article_title{
  font-size: 1.1rem;
  line-height: 1;
  font-weight: 600;
}

.article_left{
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
}

.article_rigth{
  flex-direction: column;
  justify-content: space-between;
}

.article_detail{
  gap: .1em;
  flex-direction: column;
}

.article_point_box{
  background: url(/Asset/arrow-up.png) no-repeat center;
  background-size: cover;
  margin-top: 1.9em;
}

.article_point{
  width: 30px;
  aspect-ratio: 1;
  font-weight: 700;
  outline: 5px solid purple;
  border-radius: 50%;
  justify-content: center;
}

.article_btn{
  font-size: .7rem;
  font-weight:700;
  color: #fff;
}

.acticle_favorite{
  background-color: purple;
  position: absolute;
  top: 0;
  right: 5px;
  width: 30px;
  border-bottom-left-radius: 1em;
  aspect-ratio: 1;
  margin-right: -.5em;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.acticle_favorite:hover{
  background-color: rgb(30, 10, 48);
}

@media screen and (min-width: 900px) {
  .main_content_container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .article{
    width: 48.9%;
  }

  .showcase_image{
    height: 400px;
  }

  .showcase_image img{
    width: 100%;
    object-fit: cover;
  }
}

/* =============== UTILITY ================ */

/* =============== UTILITY ================ */
.comment_section{
  margin: 0em 0 4em;
}

.comment_container{
  margin-top: 1em;
}

.comment_title{
  font-size: 1.2rem;
}

.comment{
  padding: 0 .5em;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.069);
  /* margin-top: 1em; */
  border-radius: 1em;
}

.comment_top{
  padding: .5em 0;
  margin: 1em 0 0;
}

.comment_link:hover span{
  color: purple;
  scale: 1.3
}

.comment-1{
  margin-left: .3em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-2{
  margin-left: .6em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-3{
  margin-left: .9em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-4{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-5{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-6{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-7{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-8{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-9{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}

.comment-10{
  margin-left: .5em;
  border-left: 1px solid rgb(126, 123, 123);
  box-shadow: none;
  border-radius: 0;
}


/* =============== UTILITY ================ */